<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Tuition Reimbursement Management System</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetUsers</display-name>
    <servlet-name>GetUsers</servlet-name>
    <servlet-class>com.morrison.servlets.GetUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsers</servlet-name>
    <url-pattern>/GetUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.morrison.servlets.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementRegistration</display-name>
    <servlet-name>ReimbursementRegistration</servlet-name>
    <servlet-class>com.morrison.servlets.ReimbursementRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementRegistration</servlet-name>
    <url-pattern>/ReimbursementRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementsSuper</display-name>
    <servlet-name>ReimbursementsSuper</servlet-name>
    <servlet-class>com.morrison.servlets.ReimbursementsSuper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementsSuper</servlet-name>
    <url-pattern>/ReimbursementsSuper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>com.morrison.servlets.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStatus</display-name>
    <servlet-name>ChangeStatus</servlet-name>
    <servlet-class>com.morrison.servlets.ChangeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatus</servlet-name>
    <url-pattern>/ChangeStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementsDepHead</display-name>
    <servlet-name>ReimbursementsDepHead</servlet-name>
    <servlet-class>com.morrison.servlets.ReimbursementsDepHead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementsDepHead</servlet-name>
    <url-pattern>/ReimbursementsDepHead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementsBenco</display-name>
    <servlet-name>ReimbursementsBenco</servlet-name>
    <servlet-class>com.morrison.servlets.ReimbursementsBenco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementsBenco</servlet-name>
    <url-pattern>/ReimbursementsBenco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveStatusSupervisor</display-name>
    <servlet-name>ApproveStatusSupervisor</servlet-name>
    <servlet-class>com.morrison.servlets.ApproveStatusSupervisor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveStatusSupervisor</servlet-name>
    <url-pattern>/ApproveStatusSupervisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveStatusDepHead</display-name>
    <servlet-name>ApproveStatusDepHead</servlet-name>
    <servlet-class>com.morrison.servlets.ApproveStatusDepHead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveStatusDepHead</servlet-name>
    <url-pattern>/ApproveStatusDepHead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveStatusBenco</display-name>
    <servlet-name>ApproveStatusBenco</servlet-name>
    <servlet-class>com.morrison.servlets.ApproveStatusBenco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveStatusBenco</servlet-name>
    <url-pattern>/ApproveStatusBenco</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DenyStatus</display-name>
    <servlet-name>DenyStatus</servlet-name>
    <servlet-class>com.morrison.servlets.DenyStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyStatus</servlet-name>
    <url-pattern>/DenyStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reimbursements</display-name>
    <servlet-name>Reimbursements</servlet-name>
    <servlet-class>com.morrison.servlets.Reimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reimbursements</servlet-name>
    <url-pattern>/Reimbursements</url-pattern>
  </servlet-mapping>
</web-app>